#masterdiv
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
header
{
    display: flex;
}

.test
{
    width: 100px;
}

#div1
{

}


aside
{
}

#div3
{
}

footer
{
}

.object
{
    width: 300px;
    background-color: red;
}

#escape
{
    width: 100px;
}

nav
{
    display: flex;
    justify-content: space-around;
}

.research
{
    display: flex;
    color: rgb(255, 0, 0);
    flex-wrap: wrap;
    font-size: 2em;
}

#research_r
{
    color: rgb(255, 50, 213);
}

.research_p
{
    width : 100%;
}

.filtres
{
    border: 1px black solid;
    border-radius: 50px;
    margin: 20px;
    padding: 10px;
    font-size: x-large;
}